<main>

    <h2>Dashboard</h2>

    <p>
        <a routerLink="/">Dashboard</a>
        <a routerLink="/network">Network</a>
    </p>

    <div class="container">

        <lm-blockly [blockName]="'classifiersTemplates'"></lm-blockly>
        <xml id="toolbox" style="display: none">
                <block type="controls_if"></block>
                <block type="controls_repeat_ext"></block>
                <block type="logic_compare"></block>
                <block type="text"></block>
                <block type="text_print"></block>
            </xml>

        <router-outlet></router-outlet>

    </div>
</main>
